In [131]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputClassifier, MultiOutputRegressor
from sklearn.svm import SVC

from xgboost import XGBRegressor

In [285]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, accuracy_score, hamming_loss, f1_score
from sklearn.linear_model import Ridge, Lasso, LogisticRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.multioutput import MultiOutputRegressor

In [2]:
data=pd.read_csv('All_India_Index_Upto_Feb24.csv')
data.head()

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
0,Rural,2013,January,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,NaN,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1
1,Urban,2013,January,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,100.3,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0
2,Rural+Urban,2013,January,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,100.3,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6
3,Rural,2013,February,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,NaN,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8
4,Urban,2013,February,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,100.4,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7

In [3]:
data.columns

Index(['Sector', 'Year', 'Month', 'Cereals and products', 'Meat and fish',
       'Egg', 'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects',
       'Miscellaneous', 'General index'],
      dtype='object')

In [4]:
data.shape

(399, 30)

In [5]:
G_data=pd.read_csv('NGDPRNSAXDCINQ.csv')
G_data.head()

         DATE  NGDPRNSAXDCINQ
0  2004-04-01      11733600.0
1  2004-07-01      11859400.0
2  2004-10-01      13303400.0
3  2005-01-01      13824500.0
4  2005-04-01      12815900.0

In [6]:
S_data = pd.read_csv('S_data.csv')
S_data.head()

,Years,"Inflation, consumer prices (annual %)",Adjusted net national income (annual % growth),Adjusted net national income per capita (constant 2015 US$),Adjusted savings: consumption of fixed capital (% of GNI),Consumer price index (2010 = 100),Wholesale price index (2010 = 100),Aquaculture production (metric tons),Cereal production (metric tons),Crop production index (2014-2016 = 100),...,Capture fisheries production (metric tons),Business extent of disclosure index (0=less disclosure to 10=more disclosure),New businesses registered (number),Time required to start a business (days),"Cost of business start-up procedures, male (% of GNI per capita)",Cost of business start-up procedures (% of GNI per capita),"Official exchange rate (LCU per US$, period average)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,"Share of tariff lines with specific rates, all products (%)","Share of tariff lines with specific rates, manufactured products (%)"
0,2013,10.017878,6.211749086,1226.538691,10.78072838,131.180410,123.8321779,4492502,295669510,100.02,...,4665438.43,6,91841,32.6,41.5,41.5,58.597845,0.285749,1.944708,2.228846
1,2014,6.665657,6.473501913,1289.840373,10.89475124,139.924446,127.9846898,4884002,297113510,101.33,...,4999493.43,7,69841,35,16.4,16.4,61.029514,0.299308,..,..
2,2015,4.906973,9.077456824,1390.312542,10.65006531,146.790502,123.0053915,5344002,285997000,97.64,...,4862038.51,7,80546,30,14.5,14.5,64.151944,0.291979,4.010149,4.527079
3,2016,4.948216,7.494381836,1476.90179,10.55443173,154.054013,122.9403633,5701902,295359000,101.03,...,5196946.01,7,93714,28.5,14,14,67.195313,0.294374,1.524656,1.732919
4,2017,3.328173,8.756344359,1587.769315,10.43944286,159.181198,127.1671931,6212869,311418745,107.28,...,5550953.01,8,107492,29.8,15,15,65.121569,0.317363,1.50324,1.710608

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Sector                               399 non-null    object
 1   Year                                 399 non-null    int64
 2   Month                                399 non-null    object
 3   Cereals and products                 396 non-null    float64
 4   Meat and fish                        393 non-null    float64
 5   Egg                                  396 non-null    float64
 6   Milk and products                    396 non-null    float64
 7   Oils and fats                        396 non-null    float64
 8   Fruits                               396 non-null    float64
 9   Vegetables                           396 non-null    float64
 10  Pulses and products                  396 non-null    float64
 11  Sugar and Confectionery              396 non-null    float64
 12  Spices                               396 non-null    float64
 13  Non-alcoholic beverages              396 non-null    float64
 14  Prepared meals, snacks, sweets etc.  393 non-null    float64
 15  Food and beverages                   396 non-null    float64
 16  Pan, tobacco and intoxicants         393 non-null    float64
 17  Clothing                             393 non-null    float64
 18  Footwear                             393 non-null    float64
 19  Clothing and footwear                393 non-null    float64
 20  Housing                              277 non-null    object
 21  Fuel and light                       396 non-null    float64
 22  Household goods and services         393 non-null    float64
 23  Health                               396 non-null    float64
 24  Transport and communication          393 non-null    float64
 25  Recreation and amusement             393 non-null    float64
 26  Education                            393 non-null    float64
 27  Personal care and effects            393 non-null    float64
 28  Miscellaneous                        393 non-null    float64
 29  General index                        393 non-null    float64
dtypes: float64(26), int64(1), object(3)
memory usage: 93.6+ KB

In [8]:
data=data.ffill()

In [9]:
data=data.bfill()

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Sector                               399 non-null    object
 1   Year                                 399 non-null    int64
 2   Month                                399 non-null    object
 3   Cereals and products                 399 non-null    float64
 4   Meat and fish                        399 non-null    float64
 5   Egg                                  399 non-null    float64
 6   Milk and products                    399 non-null    float64
 7   Oils and fats                        399 non-null    float64
 8   Fruits                               399 non-null    float64
 9   Vegetables                           399 non-null    float64
 10  Pulses and products                  399 non-null    float64
 11  Sugar and Confectionery              399 non-null    float64
 12  Spices                               399 non-null    float64
 13  Non-alcoholic beverages              399 non-null    float64
 14  Prepared meals, snacks, sweets etc.  399 non-null    float64
 15  Food and beverages                   399 non-null    float64
 16  Pan, tobacco and intoxicants         399 non-null    float64
 17  Clothing                             399 non-null    float64
 18  Footwear                             399 non-null    float64
 19  Clothing and footwear                399 non-null    float64
 20  Housing                              399 non-null    object
 21  Fuel and light                       399 non-null    float64
 22  Household goods and services         399 non-null    float64
 23  Health                               399 non-null    float64
 24  Transport and communication          399 non-null    float64
 25  Recreation and amusement             399 non-null    float64
 26  Education                            399 non-null    float64
 27  Personal care and effects            399 non-null    float64
 28  Miscellaneous                        399 non-null    float64
 29  General index                        399 non-null    float64
dtypes: float64(26), int64(1), object(3)
memory usage: 93.6+ KB

In [11]:
G_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            78 non-null     object
 1   NGDPRNSAXDCINQ  78 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.3+ KB

In [12]:
G_data['DATE']=pd.to_datetime(G_data['DATE'])
G_data['Year'] = G_data['DATE'].dt.year
G_data['Month'] = G_data['DATE'].dt.month
G_data.head()

        DATE  NGDPRNSAXDCINQ  Year  Month
0 2004-04-01      11733600.0  2004      4
1 2004-07-01      11859400.0  2004      7
2 2004-10-01      13303400.0  2004     10
3 2005-01-01      13824500.0  2005      1
4 2005-04-01      12815900.0  2005      4

In [13]:
train_data=data.copy()

In [14]:
G_data.drop(G_data[G_data['Year']<2013].index, axis = 0, inplace= True)

In [15]:
G_data.head(10)

         DATE  NGDPRNSAXDCINQ  Year  Month
35 2013-01-01      24670800.0  2013      1
36 2013-04-01      23474000.0  2013      4
37 2013-07-01      23570800.0  2013      7
38 2013-10-01      24980000.0  2013     10
39 2014-01-01      25989000.0  2014      1
40 2014-04-01      25357500.0  2014      4
41 2014-07-01      25622400.0  2014      7
42 2014-10-01      26459500.0  2014     10
43 2015-01-01      27837300.0  2015      1
44 2015-04-01      27282800.0  2015      4

In [17]:
train_data['Month'] = train_data['Month'].str.strip()
print(train_data['Month'].unique())

['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August'
 'September' 'October' 'November' 'December' 'Marcrh']

In [18]:
train_data.loc[train_data['Month'] == 'Marcrh', 'Month'] = 'March'
print(train_data['Month'].unique())

['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August'
 'September' 'October' 'November' 'December']

In [19]:
train_data['Month'] = pd.to_datetime(train_data['Month'], format='%B').dt.month

In [20]:
train_data = pd.merge(train_data, G_data, on=['Year', 'Month'], how='left')

In [23]:
G_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 35 to 77
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            43 non-null     datetime64[ns]
 1   NGDPRNSAXDCINQ  43 non-null     float64
 2   Year            43 non-null     int32
 3   Month           43 non-null     int32
dtypes: datetime64[ns](1), float64(1), int32(2)
memory usage: 1.1 KB

In [24]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Sector                               399 non-null    object
 1   Year                                 399 non-null    int64
 2   Month                                399 non-null    int32
 3   Cereals and products                 399 non-null    float64
 4   Meat and fish                        399 non-null    float64
 5   Egg                                  399 non-null    float64
 6   Milk and products                    399 non-null    float64
 7   Oils and fats                        399 non-null    float64
 8   Fruits                               399 non-null    float64
 9   Vegetables                           399 non-null    float64
 10  Pulses and products                  399 non-null    float64
 11  Sugar and Confectionery              399 non-null    float64
 12  Spices                               399 non-null    float64
 13  Non-alcoholic beverages              399 non-null    float64
 14  Prepared meals, snacks, sweets etc.  399 non-null    float64
 15  Food and beverages                   399 non-null    float64
 16  Pan, tobacco and intoxicants         399 non-null    float64
 17  Clothing                             399 non-null    float64
 18  Footwear                             399 non-null    float64
 19  Clothing and footwear                399 non-null    float64
 20  Housing                              399 non-null    object
 21  Fuel and light                       399 non-null    float64
 22  Household goods and services         399 non-null    float64
 23  Health                               399 non-null    float64
 24  Transport and communication          399 non-null    float64
 25  Recreation and amusement             399 non-null    float64
 26  Education                            399 non-null    float64
 27  Personal care and effects            399 non-null    float64
 28  Miscellaneous                        399 non-null    float64
 29  General index                        399 non-null    float64
 30  DATE                                 126 non-null    datetime64[ns]
 31  NGDPRNSAXDCINQ                       126 non-null    float64
dtypes: datetime64[ns](1), float64(27), int32(1), int64(1), object(2)
memory usage: 98.3+ KB

In [28]:
train_data.drop(['DATE'], axis=1, inplace=True)
train_data.head()

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index,NGDPRNSAXDCINQ
0,Rural,2013,1,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1,24670800.0
1,Urban,2013,1,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0,24670800.0
2,Rural+Urban,2013,1,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6,24670800.0
3,Rural,2013,2,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8,NaN
4,Urban,2013,2,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7,NaN

In [29]:
train_data.head(10)

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index,NGDPRNSAXDCINQ
0,Rural,2013,1,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1,24670800.0
1,Urban,2013,1,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0,24670800.0
2,Rural+Urban,2013,1,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6,24670800.0
3,Rural,2013,2,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8,NaN
4,Urban,2013,2,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7,NaN
5,Rural+Urban,2013,2,110.4,110.2,112.8,104.9,105.5,103.6,103.2,...,106.0,105.2,104.5,104.2,103.6,103.9,104.5,104.4,105.3,NaN
6,Rural,2013,3,110.2,108.8,109.9,105.6,106.2,105.7,101.4,...,106.1,105.6,104.7,104.6,104.0,104.3,104.3,104.6,106.0,NaN
7,Urban,2013,3,113.9,111.4,113.2,104.3,102.7,104.9,103.8,...,106.0,105.7,105.2,105.5,103.5,103.8,104.2,104.9,105.0,NaN
8,Rural+Urban,2013,3,111.4,109.7,111.2,105.1,104.9,105.3,102.2,...,106.1,105.6,104.9,105.1,103.7,104.0,104.3,104.7,105.5,NaN
9,Rural,2013,4,110.2,109.5,106.9,106.3,105.7,108.3,103.4,...,106.5,106.1,105.1,104.4,104.5,104.8,102.7,104.6,106.4,23474000.0

In [30]:
def fill_gaps(df, column):
    non_empty_indices = df[df[column].notna()].index
    for start, end in zip(non_empty_indices, non_empty_indices[1:]):
        if end - start > 1:
            mean_value = (df.loc[start, column] + df.loc[end, column]) / 2.0
            df.loc[start + 1:end - 1, column] = mean_value
    return df
fill_gaps(train_data,'NGDPRNSAXDCINQ')

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index,NGDPRNSAXDCINQ
0,Rural,2013,1,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1,24670800.0
1,Urban,2013,1,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0,24670800.0
2,Rural+Urban,2013,1,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6,24670800.0
3,Rural,2013,2,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8,24072400.0
4,Urban,2013,2,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7,24072400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Urban,2024,1,187.1,219.4,206.1,182.8,155.8,174.5,226.2,...,175.7,173.0,187.8,162.1,172.2,180.8,189.9,175.2,183.5,NaN
395,Rural+Urban,2024,1,187.4,213.2,205.3,182.7,159.2,171.9,195.6,...,180.9,178.2,191.2,166.8,174.4,182.9,189.1,179.4,185.5,NaN
396,Rural,2024,2,188.6,214.8,201.7,182.9,160.2,169.2,179.8,...,183.8,183.3,193.8,172.2,177.4,186.0,188.8,183.8,187.4,NaN
397,Urban,2024,2,188.3,223.9,204.7,183.2,155.1,174.0,226.1,...,175.6,173.3,188.3,162.3,172.5,180.9,190.1,175.5,184.0,NaN
398,Rural+Urban,2024,2,188.5,218.0,202.9,183.0,158.3,171.4,195.5,...,180.7,178.6,191.7,167.0,174.6,183.0,189.3,179.8,185.8,NaN

In [40]:
non_null_values = train_data['NGDPRNSAXDCINQ'].dropna()
differences = non_null_values.diff().dropna()
average_increase = differences.mean()

# Function to fill tail rows with the average increase
def fill_tail_with_average_increase(df, column, avg_increase):
    last_value = df[column].dropna().iloc[-1]
    null_indices = df[df[column].isna()].index
    for i, idx in enumerate(null_indices):
        df.at[idx, column] = last_value + (i + 1) * avg_increase
    return df

# Fill the tail rows with the average increase
fill_tail_with_average_increase(train_data, 'NGDPRNSAXDCINQ', average_increase)

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index,NGDPRNSAXDCINQ
0,Rural,2013,1,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1,2.467080e+07
1,Urban,2013,1,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0,2.467080e+07
2,Rural+Urban,2013,1,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6,2.467080e+07
3,Rural,2013,2,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8,2.407240e+07
4,Urban,2013,2,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7,2.407240e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Urban,2024,1,187.1,219.4,206.1,182.8,155.8,174.5,226.2,...,175.7,173.0,187.8,162.1,172.2,180.8,189.9,175.2,183.5,4.251294e+07
395,Rural+Urban,2024,1,187.4,213.2,205.3,182.7,159.2,171.9,195.6,...,180.9,178.2,191.2,166.8,174.4,182.9,189.1,179.4,185.5,4.255822e+07
396,Rural,2024,2,188.6,214.8,201.7,182.9,160.2,169.2,179.8,...,183.8,183.3,193.8,172.2,177.4,186.0,188.8,183.8,187.4,4.260351e+07
397,Urban,2024,2,188.3,223.9,204.7,183.2,155.1,174.0,226.1,...,175.6,173.3,188.3,162.3,172.5,180.9,190.1,175.5,184.0,4.264879e+07
398,Rural+Urban,2024,2,188.5,218.0,202.9,183.0,158.3,171.4,195.5,...,180.7,178.6,191.7,167.0,174.6,183.0,189.3,179.8,185.8,4.269408e+07

In [44]:
S_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 25 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Years                                                                          11 non-null     int64
 1   Inflation, consumer prices (annual %)                                          11 non-null     float64
 2   Adjusted net national income (annual % growth)                                 11 non-null     object
 3   Adjusted net national income per capita (constant 2015 US$)                    11 non-null     object
 4   Adjusted savings: consumption of fixed capital (% of GNI)                      11 non-null     object
 5   Consumer price index (2010 = 100)                                              11 non-null     float64
 6   Wholesale price index (2010 = 100)                                             11 non-null     object
 7   Aquaculture production (metric tons)                                           11 non-null     object
 8   Cereal production (metric tons)                                                11 non-null     object
 9   Crop production index (2014-2016 = 100)                                        11 non-null     object
 10  Food production index (2014-2016 = 100)                                        11 non-null     object
 11  Livestock production index (2014-2016 = 100)                                   11 non-null     object
 12  Total fisheries production (metric tons)                                       11 non-null     object
 13  Land under cereal production (hectares)                                        11 non-null     object
 14  Fertilizer consumption (% of fertilizer production)                            11 non-null     object
 15  Capture fisheries production (metric tons)                                     11 non-null     object
 16  Business extent of disclosure index (0=less disclosure to 10=more disclosure)  11 non-null     object
 17  New businesses registered (number)                                             11 non-null     object
 18  Time required to start a business (days)                                       11 non-null     object
 19  Cost of business start-up procedures, male (% of GNI per capita)               11 non-null     object
 20  Cost of business start-up procedures (% of GNI per capita)                     11 non-null     object
 21  Official exchange rate (LCU per US$, period average)                           11 non-null     float64
 22  Price level ratio of PPP conversion factor (GDP) to market exchange rate       11 non-null     float64
 23  Share of tariff lines with specific rates, all products (%)                    11 non-null     object
 24  Share of tariff lines with specific rates, manufactured products (%)           11 non-null     object
dtypes: float64(4), int64(1), object(20)
memory usage: 2.3+ KB

In [47]:
S_data.replace('..', np.nan, inplace=True)

# Convert numerical columns to numeric dtype
S_data = S_data.apply(pd.to_numeric, errors='ignore')
S_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 25 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Years                                                                          11 non-null     int64
 1   Inflation, consumer prices (annual %)                                          11 non-null     float64
 2   Adjusted net national income (annual % growth)                                 9 non-null      float64
 3   Adjusted net national income per capita (constant 2015 US$)                    9 non-null      float64
 4   Adjusted savings: consumption of fixed capital (% of GNI)                      9 non-null      float64
 5   Consumer price index (2010 = 100)                                              11 non-null     float64
 6   Wholesale price index (2010 = 100)                                             9 non-null      float64
 7   Aquaculture production (metric tons)                                           10 non-null     float64
 8   Cereal production (metric tons)                                                10 non-null     float64
 9   Crop production index (2014-2016 = 100)                                        10 non-null     float64
 10  Food production index (2014-2016 = 100)                                        10 non-null     float64
 11  Livestock production index (2014-2016 = 100)                                   10 non-null     float64
 12  Total fisheries production (metric tons)                                       10 non-null     float64
 13  Land under cereal production (hectares)                                        10 non-null     float64
 14  Fertilizer consumption (% of fertilizer production)                            9 non-null      float64
 15  Capture fisheries production (metric tons)                                     10 non-null     float64
 16  Business extent of disclosure index (0=less disclosure to 10=more disclosure)  7 non-null      float64
 17  New businesses registered (number)                                             10 non-null     float64
 18  Time required to start a business (days)                                       7 non-null      float64
 19  Cost of business start-up procedures, male (% of GNI per capita)               7 non-null      float64
 20  Cost of business start-up procedures (% of GNI per capita)                     7 non-null      float64
 21  Official exchange rate (LCU per US$, period average)                           11 non-null     float64
 22  Price level ratio of PPP conversion factor (GDP) to market exchange rate       11 non-null     float64
 23  Share of tariff lines with specific rates, all products (%)                    8 non-null      float64
 24  Share of tariff lines with specific rates, manufactured products (%)           8 non-null      float64
dtypes: float64(24), int64(1)
memory usage: 2.3 KB

In [49]:
def fill_null_with_avg_increase(df, column):
    non_null_values = df[column].dropna()
    differences = non_null_values.diff().dropna()
    average_increase = differences.mean()
    
    # Fill null values at the end of the column
    last_value = non_null_values.iloc[-1]
    null_indices = df[df[column].isna()].index
    
    for i, idx in enumerate(null_indices):
        df.at[idx, column] = last_value + (i + 1) * average_increase
    
    return df

# Apply the function to all relevant columns
columns_to_fill = S_data.columns[1:]  # assuming 'ears' is not a numerical column to fill

for col in columns_to_fill:
    fill_null_with_avg_increase(S_data, col)

In [51]:
S_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 25 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Years                                                                          11 non-null     int64
 1   Inflation, consumer prices (annual %)                                          11 non-null     float64
 2   Adjusted net national income (annual % growth)                                 11 non-null     float64
 3   Adjusted net national income per capita (constant 2015 US$)                    11 non-null     float64
 4   Adjusted savings: consumption of fixed capital (% of GNI)                      11 non-null     float64
 5   Consumer price index (2010 = 100)                                              11 non-null     float64
 6   Wholesale price index (2010 = 100)                                             11 non-null     float64
 7   Aquaculture production (metric tons)                                           11 non-null     float64
 8   Cereal production (metric tons)                                                11 non-null     float64
 9   Crop production index (2014-2016 = 100)                                        11 non-null     float64
 10  Food production index (2014-2016 = 100)                                        11 non-null     float64
 11  Livestock production index (2014-2016 = 100)                                   11 non-null     float64
 12  Total fisheries production (metric tons)                                       11 non-null     float64
 13  Land under cereal production (hectares)                                        11 non-null     float64
 14  Fertilizer consumption (% of fertilizer production)                            11 non-null     float64
 15  Capture fisheries production (metric tons)                                     11 non-null     float64
 16  Business extent of disclosure index (0=less disclosure to 10=more disclosure)  11 non-null     float64
 17  New businesses registered (number)                                             11 non-null     float64
 18  Time required to start a business (days)                                       11 non-null     float64
 19  Cost of business start-up procedures, male (% of GNI per capita)               11 non-null     float64
 20  Cost of business start-up procedures (% of GNI per capita)                     11 non-null     float64
 21  Official exchange rate (LCU per US$, period average)                           11 non-null     float64
 22  Price level ratio of PPP conversion factor (GDP) to market exchange rate       11 non-null     float64
 23  Share of tariff lines with specific rates, all products (%)                    11 non-null     float64
 24  Share of tariff lines with specific rates, manufactured products (%)           11 non-null     float64
dtypes: float64(24), int64(1)
memory usage: 2.3 KB

In [52]:
S_data.rename(columns={'Years': 'Year'}, inplace=True)

In [53]:
train_data = pd.merge(train_data, S_data, on=['Year'], how='left')

In [56]:
for col in columns_to_fill:
    fill_null_with_avg_increase(train_data, col)
train_data

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Capture fisheries production (metric tons),Business extent of disclosure index (0=less disclosure to 10=more disclosure),New businesses registered (number),Time required to start a business (days),"Cost of business start-up procedures, male (% of GNI per capita)",Cost of business start-up procedures (% of GNI per capita),"Official exchange rate (LCU per US$, period average)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,"Share of tariff lines with specific rates, all products (%)","Share of tariff lines with specific rates, manufactured products (%)"
0,Rural,2013,1,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,4.665438e+06,6.000000,91841.000000,32.600000,41.500000,41.500000,58.597845,0.285749,1.944708,2.228846
1,Urban,2013,1,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,4.665438e+06,6.000000,91841.000000,32.600000,41.500000,41.500000,58.597845,0.285749,1.944708,2.228846
2,Rural+Urban,2013,1,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,4.665438e+06,6.000000,91841.000000,32.600000,41.500000,41.500000,58.597845,0.285749,1.944708,2.228846
3,Rural,2013,2,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,4.665438e+06,6.000000,91841.000000,32.600000,41.500000,41.500000,58.597845,0.285749,1.944708,2.228846
4,Urban,2013,2,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,4.665438e+06,6.000000,91841.000000,32.600000,41.500000,41.500000,58.597845,0.285749,1.944708,2.228846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,Urban,2024,1,187.1,219.4,206.1,182.8,155.8,174.5,226.2,...,5.641042e+06,9.350340,182605.064626,7.304932,-15.958333,-15.958333,82.721733,0.243980,1.951841,2.239628
395,Rural+Urban,2024,1,187.4,213.2,205.3,182.7,159.2,171.9,195.6,...,5.643519e+06,9.358844,182835.430272,7.240731,-16.104167,-16.104167,82.782961,0.243874,1.951859,2.239655
396,Rural,2024,2,188.6,214.8,201.7,182.9,160.2,169.2,179.8,...,5.645995e+06,9.367347,183065.795918,7.176531,-16.250000,-16.250000,82.844189,0.243768,1.951878,2.239683
397,Urban,2024,2,188.3,223.9,204.7,183.2,155.1,174.0,226.1,...,5.648471e+06,9.375850,183296.161565,7.112330,-16.395833,-16.395833,82.905417,0.243662,1.951896,2.239710
398,Rural+Urban,2024,2,188.5,218.0,202.9,183.0,158.3,171.4,195.5,...,5.650947e+06,9.384354,183526.527211,7.048129,-16.541667,-16.541667,82.966645,0.243556,1.951914,2.239737

In [60]:
train_data.columns

Index(['Sector', 'Year', 'Month', 'Cereals and products', 'Meat and fish',
       'Egg', 'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects',
       'Miscellaneous', 'General index', 'GDP',
       'Inflation, consumer prices (annual %)',
       'Adjusted net national income (annual % growth)',
       'Adjusted net national income per capita (constant 2015 US$)',
       'Adjusted savings: consumption of fixed capital (% of GNI)',
       'Consumer price index (2010 = 100)',
       'Wholesale price index (2010 = 100)',
       'Aquaculture production (metric tons)',
       'Cereal production (metric tons)',
       'Crop production index (2014-2016 = 100)',
       'Food production index (2014-2016 = 100)',
       'Livestock production index (2014-2016 = 100)',
       'Total fisheries production (metric tons)',
       'Land under cereal production (hectares)',
       'Fertilizer consumption (% of fertilizer production)',
       'Capture fisheries production (metric tons)',
       'Business extent of disclosure index (0=less disclosure to 10=more disclosure)',
       'New businesses registered (number)',
       'Time required to start a business (days)',
       'Cost of business start-up procedures, male (% of GNI per capita)',
       'Cost of business start-up procedures (% of GNI per capita)',
       'Official exchange rate (LCU per US$, period average)',
       'Price level ratio of PPP conversion factor (GDP) to market exchange rate',
       'Share of tariff lines with specific rates, all products (%)',
       'Share of tariff lines with specific rates, manufactured products (%)'],
      dtype='object')

In [59]:
train_data.rename(columns={'NGDPRNSAXDCINQ': 'GDP'}, inplace=True)

In [72]:
train_data.to_csv('train_data.csv')

In [111]:
train_data=pd.read_csv('train_data.csv')

In [68]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 55 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Sector                                                                         399 non-null    object
 1   Year                                                                           399 non-null    int64
 2   Month                                                                          399 non-null    int32
 3   Cereals and products                                                           399 non-null    float64
 4   Meat and fish                                                                  399 non-null    float64
 5   Egg                                                                            399 non-null    float64
 6   Milk and products                                                              399 non-null    float64
 7   Oils and fats                                                                  399 non-null    float64
 8   Fruits                                                                         399 non-null    float64
 9   Vegetables                                                                     399 non-null    float64
 10  Pulses and products                                                            399 non-null    float64
 11  Sugar and Confectionery                                                        399 non-null    float64
 12  Spices                                                                         399 non-null    float64
 13  Non-alcoholic beverages                                                        399 non-null    float64
 14  Prepared meals, snacks, sweets etc.                                            399 non-null    float64
 15  Food and beverages                                                             399 non-null    float64
 16  Pan, tobacco and intoxicants                                                   399 non-null    float64
 17  Clothing                                                                       399 non-null    float64
 18  Footwear                                                                       399 non-null    float64
 19  Clothing and footwear                                                          399 non-null    float64
 20  Housing                                                                        399 non-null    object
 21  Fuel and light                                                                 399 non-null    float64
 22  Household goods and services                                                   399 non-null    float64
 23  Health                                                                         399 non-null    float64
 24  Transport and communication                                                    399 non-null    float64
 25  Recreation and amusement                                                       399 non-null    float64
 26  Education                                                                      399 non-null    float64
 27  Personal care and effects                                                      399 non-null    float64
 28  Miscellaneous                                                                  399 non-null    float64
 29  General index                                                                  399 non-null    float64
 30  GDP                                                                            399 non-null    float64
 31  Inflation, consumer prices (annual %)                                          399 non-null    float64
 32  Adjusted net national income (annual % growth)                                 399 non-null    float64
 33  Adjusted net national income per capita (constant 2015 US$)                    399 non-null    float64
 34  Adjusted savings: consumption of fixed capital (% of GNI)                      399 non-null    float64
 35  Consumer price index (2010 = 100)                                              399 non-null    float64
 36  Wholesale price index (2010 = 100)                                             399 non-null    float64
 37  Aquaculture production (metric tons)                                           399 non-null    float64
 38  Cereal production (metric tons)                                                399 non-null    float64
 39  Crop production index (2014-2016 = 100)                                        399 non-null    float64
 40  Food production index (2014-2016 = 100)                                        399 non-null    float64
 41  Livestock production index (2014-2016 = 100)                                   399 non-null    float64
 42  Total fisheries production (metric tons)                                       399 non-null    float64
 43  Land under cereal production (hectares)                                        399 non-null    float64
 44  Fertilizer consumption (% of fertilizer production)                            399 non-null    float64
 45  Capture fisheries production (metric tons)                                     399 non-null    float64
 46  Business extent of disclosure index (0=less disclosure to 10=more disclosure)  399 non-null    float64
 47  New businesses registered (number)                                             399 non-null    float64
 48  Time required to start a business (days)                                       399 non-null    float64
 49  Cost of business start-up procedures, male (% of GNI per capita)               399 non-null    float64
 50  Cost of business start-up procedures (% of GNI per capita)                     399 non-null    float64
 51  Official exchange rate (LCU per US$, period average)                           399 non-null    float64
 52  Price level ratio of PPP conversion factor (GDP) to market exchange rate       399 non-null    float64
 53  Share of tariff lines with specific rates, all products (%)                    399 non-null    float64
 54  Share of tariff lines with specific rates, manufactured products (%)           399 non-null    float64
dtypes: float64(51), int32(1), int64(1), object(2)
memory usage: 170.0+ KB

In [71]:
train_data.Housing.unique()

array([100.3, 100.4, 100.5, 106.6, 107.7, 108.9, 109.7, 110.5, 111.1,
       110.7, 111.6, 112.5, 113.2, 113.9, 114.3, 114.8, 115.5, 116.1,
       116.7, 117.1, 116.5, 117.3, 118.1, 118.6, 119.2, 119.6, 119. ,
       119.9, 120.9, 121.6, 122.4, 122.9, 123.4, 124.4, 124.9, 125.6,
       126. , 125.5, 126.4, 127.3, 127.9, 128.7, 129.1, 128.5, 129.6,
       130.5, 131.1, 131.7, 132.1, 131.4, 132.6, 134.4, 135.7, 137.3,
       138.6, 139.1, 140.4, 141.3, 142. , 142.9, 143.2, 142.5, 143.6,
       144.6, 145.3, 146.3, 146.9, 146.5, 147.7, 148.5, 149. , 150.1,
       149.4, 150.6, 151.6, 152.2, 153. , 153.5, 152.8, 153.9, 154.8,
       154.5, 155.6, 154.7, 155.5, 156.3, 156.5, 158. , 158.4, 157.7,
       159.8, 159.9, 161.4, 161.6, 160.5, 161.5, 162.1, 163.6, 164.2,
       163.4, 164.5, 165.5, 165.3, 167. , 167.5, 166.8, 167.8, 169. ,
       169.5, 171.2, 171.8, 170.7, 172.1, 173.5, 175.2, 175.6, 174.4,
       175.3, 176.4, 176.2, 177.7, 177.9, 176.9, 177.6, 178.5])

In [67]:
train_data.Housing = train_data.Housing.apply(pd.to_numeric, errors='ignore')

In [69]:
train_data.Housing

0      100.3
1      100.3
2      100.3
3      100.3
4      100.4
       ...
394    177.6
395    177.6
396        -
397    178.5
398    178.5
Name: Housing, Length: 399, dtype: object

In [70]:
train_data['Housing'] = pd.to_numeric(train_data['Housing'], errors='coerce')


train_data['Housing'].fillna(159.8, inplace=True)

print(train_data['Housing'])

0      100.3
1      100.3
2      100.3
3      100.3
4      100.4
       ...
394    177.6
395    177.6
396    159.8
397    178.5
398    178.5
Name: Housing, Length: 399, dtype: float64

In [112]:
train_data.drop(['Unnamed: 0'], axis=1, inplace= True)

In [113]:
train_data = pd.get_dummies(train_data, columns=['Sector'])

In [114]:
scaler = MinMaxScaler()
scaler.fit(train_data)
train_Data= scaler.transform(train_data)

In [115]:
train_Data = pd.DataFrame(train_Data, columns=train_data.columns)

In [117]:
train_Data.head()

,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,Pulses and products,...,Time required to start a business (days),"Cost of business start-up procedures, male (% of GNI per capita)",Cost of business start-up procedures (% of GNI per capita),"Official exchange rate (LCU per US$, period average)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,"Share of tariff lines with specific rates, all products (%)","Share of tariff lines with specific rates, manufactured products (%)",Sector_Rural,Sector_Rural+Urban,Sector_Urban
0,0.0,0.000000,0.000000,0.000000,0.052224,0.016332,0.045956,0.018957,0.002579,0.024390,...,0.914138,1.0,1.0,0.0,0.571662,0.483608,0.491363,1.0,0.0,0.0
1,0.0,0.000000,0.036991,0.023275,0.099613,0.000000,0.021140,0.000000,0.007736,0.021576,...,0.914138,1.0,1.0,0.0,0.571662,0.483608,0.491363,0.0,0.0,1.0
2,0.0,0.000000,0.011097,0.008313,0.070600,0.010050,0.036765,0.010664,0.004126,0.023452,...,0.914138,1.0,1.0,0.0,0.571662,0.483608,0.491363,0.0,1.0,0.0
3,0.0,0.090909,0.020962,0.019950,0.072534,0.022613,0.051471,0.020142,0.005157,0.022514,...,0.914138,1.0,1.0,0.0,0.571662,0.483608,0.491363,1.0,0.0,0.0
4,0.0,0.090909,0.066584,0.054863,0.137331,0.005025,0.022059,0.009479,0.018051,0.005629,...,0.914138,1.0,1.0,0.0,0.571662,0.483608,0.491363,0.0,0.0,1.0

In [119]:
train_set, temp_set = train_test_split(train_data, test_size=0.3, random_state=42)
validation_set, test_set = train_test_split(temp_set, test_size=1/3, random_state=42)

In [120]:
train_set.columns

Index(['Year', 'Month', 'Cereals and products', 'Meat and fish', 'Egg',
       'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects',
       'Miscellaneous', 'General index', 'GDP',
       'Inflation, consumer prices (annual %)',
       'Adjusted net national income (annual % growth)',
       'Adjusted net national income per capita (constant 2015 US$)',
       'Adjusted savings: consumption of fixed capital (% of GNI)',
       'Consumer price index (2010 = 100)',
       'Wholesale price index (2010 = 100)',
       'Aquaculture production (metric tons)',
       'Cereal production (metric tons)',
       'Crop production index (2014-2016 = 100)',
       'Food production index (2014-2016 = 100)',
       'Livestock production index (2014-2016 = 100)',
       'Total fisheries production (metric tons)',
       'Land under cereal production (hectares)',
       'Fertilizer consumption (% of fertilizer production)',
       'Capture fisheries production (metric tons)',
       'Business extent of disclosure index (0=less disclosure to 10=more disclosure)',
       'New businesses registered (number)',
       'Time required to start a business (days)',
       'Cost of business start-up procedures, male (% of GNI per capita)',
       'Cost of business start-up procedures (% of GNI per capita)',
       'Official exchange rate (LCU per US$, period average)',
       'Price level ratio of PPP conversion factor (GDP) to market exchange rate',
       'Share of tariff lines with specific rates, all products (%)',
       'Share of tariff lines with specific rates, manufactured products (%)',
       'Sector_Rural', 'Sector_Rural+Urban', 'Sector_Urban'],
      dtype='object')

In [123]:
X_train = train_set.drop(columns=['Cereals and products', 'Meat and fish', 'Egg',
       'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects',
       'Miscellaneous', 'General index'])
y_train = train_set[['Cereals and products', 'Meat and fish', 'Egg',
       'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects',
       'Miscellaneous', 'General index']]

# Separate features (X) and target (y) for validation set
X_val = validation_set.drop(columns=['Cereals and products', 'Meat and fish', 'Egg',
       'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects',
       'Miscellaneous', 'General index'])
y_val = validation_set[['Cereals and products', 'Meat and fish', 'Egg',
       'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects',
       'Miscellaneous', 'General index']]

# Separate features (X) and target (y) for test set
X_test = test_set.drop(columns=['Cereals and products', 'Meat and fish', 'Egg',
       'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects',
       'Miscellaneous', 'General index'])
y_test = test_set[['Cereals and products', 'Meat and fish', 'Egg',
       'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects',
       'Miscellaneous', 'General index']]

In [284]:
def regressors(model_type, X_train, y_train, X_val, y_val):
    if model_type == 1:
        model = MultiOutputRegressor(Ridge(alpha=1.0))
    elif model_type == 2:
        model = MultiOutputRegressor(Lasso(alpha=0.1))
    elif model_type == 3:
        model = MultiOutputRegressor(RandomForestRegressor(random_state=42, n_jobs=-1, n_estimators=36, max_depth=38))
    elif model_type == 4:
        model = MultiOutputRegressor(GradientBoostingRegressor(min_samples_split=4, max_depth=6, n_estimators=160, learning_rate=0.4, random_state=42))
    elif model_type == 5:
        model = MultiOutputRegressor(XGBRegressor(booster='gbtree', min_child_weight=6, learning_rate=0.1, random_state=42, n_jobs=-1, n_estimators=140, max_depth=70))
    else:
        raise ValueError("Invalid model type. Choose from 1 (Ridge), 2 (Lasso), 3 (RandomForest), 4 (GradientBoosting), 5 (XGBoost).")

    model.fit(X_train, y_train)
    train_pred = model.predict(X_train)
    val_pred = model.predict(X_val)

    train_rmse = np.sqrt(mean_squared_error(y_train, train_pred))
    val_rmse = np.sqrt(mean_squared_error(y_val, val_pred))

    train_mae = np.mean(np.abs(y_train - train_pred))
    val_mae = np.mean(np.abs(y_val - val_pred))

    train_mse = mean_squared_error(y_train, train_pred)
    val_mse = mean_squared_error(y_val, val_pred)

    metrics = {
        'RMSE_train': train_rmse,
        'RMSE_val': val_rmse,
        'MAE_train': train_mae,
        'MAE_val': val_mae,
        'MSE_train': train_mse,
        'MSE_val': val_mse
    }

    return metrics

In [283]:
regressors(4, X_train, y_train, X_val, y_val)

{'RMSE_train': 0.00015089859926539358,
 'RMSE_val': 2.0365754822634865,
 'MAE_train': 6.240996217597312e-05,
 'MAE_val': 0.9374704441490194,
 'MSE_train': 2.2770387260257844e-08,
 'MSE_val': 4.147639694956752}

In [223]:
regressors(5, X_train, y_train, X_val, y_val)

{'RMSE_train': 0.46348399736398627,
 'RMSE_val': 2.0265666641607005,
 'MAE_train': 0.19677966285096865,
 'MAE_val': 0.9350605032179091,
 'MSE_train': 0.21481741581249963,
 'MSE_val': 4.106972444287429}

In [137]:
regressors(3, X_train, y_train, X_val, y_val)

{'RMSE_train': 1.0989824072016883,
 'RMSE_val': 2.9250309336469433,
 'MAE_train': 0.5017404899921836,
 'MAE_val': 1.3487782921810705,
 'MSE_train': 1.2077623313388175,
 'MSE_val': 8.555805962791508}

In [138]:
regressors(4, X_train, y_train, X_val, y_val)

{'RMSE_train': 1.2404880648871883,
 'RMSE_val': 2.3826420850909935,
 'MAE_train': 0.6857563803090289,
 'MAE_val': 1.2448915806872478,
 'MSE_train': 1.538810639127561,
 'MSE_val': 5.676983305646757}

In [139]:
regressors(5, X_train, y_train, X_val, y_val)

{'RMSE_train': 0.7957199066787536,
 'RMSE_val': 2.7531027297165234,
 'MAE_train': 0.49612176880709247,
 'MAE_val': 1.4271817292107476,
 'MSE_train': 0.6331701698848443,
 'MSE_val': 7.579574640372573}

In [144]:
model= MultiOutputRegressor(XGBRegressor(learning_rate=0.1, random_state=42, n_jobs=-1, n_estimators=40, max_depth=25))
model.fit(X_train, y_train)
pred=model.predict(X_val)

In [145]:
display(pred)

array([[123.46589 , 125.16188 , 118.669235, ..., 110.239685, 114.74193 ,
        121.379456],
       [185.88708 , 211.20209 , 200.47743 , ..., 186.45273 , 176.59698 ,
        184.40279 ],
       [123.55808 , 126.56834 , 126.55755 , ..., 111.373726, 115.10391 ,
        120.150665],
       ...,
       [125.58038 , 137.9069  , 123.61582 , ..., 118.12122 , 118.86238 ,
        126.116646],
       [146.17883 , 197.09123 , 160.30951 , ..., 155.67307 , 155.95033 ,
        157.01958 ],
       [115.92372 , 118.46234 , 110.47196 , ..., 103.73781 , 106.406555,
        109.74331 ]], dtype=float32)

In [147]:
pred=pd.DataFrame(pred)
pred.to_csv('Consumer_prediction.csv', index=False)

In [286]:
model = MultiOutputRegressor(GradientBoostingRegressor(min_samples_split=4, max_depth=6, n_estimators=160, learning_rate=0.4, random_state=42))
model.fit(X_train, y_train)
pred=model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
print(rmse)

3.5613374337171786

In [287]:
model = MultiOutputRegressor(XGBRegressor(booster='gbtree', min_child_weight=6, learning_rate=0.1, random_state=42, n_jobs=-1, n_estimators=140, max_depth=70))
model.fit(X_train, y_train)
pred=model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
print(rmse)

3.2881148451792415

In [288]:
model = MultiOutputRegressor(RandomForestRegressor(random_state=42, n_jobs=-1, n_estimators=36, max_depth=38))
model.fit(X_train, y_train)
pred=model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
print(rmse)

4.008288304968257